@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#050816;
  color:white;
  font-family:Inter,system-ui,sans-serif;
  overflow-x:hidden;
}

::selection{
  background:#7c3aed;
  color:white;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#7c3aed;
  border-radius:20px;
}